*{
    margin:0;
    padding:0;
}
body{
    background: #794f4f;
}
.card{
    width:90%;
    max-width: 400px;
    background: linear-gradient(#85a8a8,#9b7171);
    border-radius: 10px;
    padding: 20px;
    margin:100px auto;
    text-align: center;


}
.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    width:300px;
    height: 40px;
    padding:5px 10px;
    font-size: 20px;
    border-radius: 20px;
    outline:solid rgb(207, 141, 141) 1px;
}
.search button{
    width:60px;
    height:60px;
    border:0;
    outline:0;
    border-radius: 50%;
    cursor:pointer;
}
.search button img{
    width:20px;

}
.weather-icon{
    width:180px;
    margin-top: 30px;
}
.weather h1{
    color:white;
    font-size: 40px;
    
}
.weather h2{
    color:white;
    font-size: 28px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}
.col img{
    width:40px;
}
.humidity{
    color:white;
    font-size: 25px;
    padding-left: 15px;
}
.wind{
    color:white;
    font-size: 25px;
    padding-left: 15px;
}    
.col p{
    color:white;
    padding-left: 10px;

}
.weather{
    display: none;
}
.error{
    color:white;
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
    display:none;
}